// @import 'antd/dist/antd.less';

body {
  overflow: auto !important;
}

.spin-inline-block {
  display: inline-block;
}

.sub-page-container {
  .ant-pro-page-container-children-content {
    margin: 0;
  }
}

.ant-collapse {
  display: block;
  opacity: 1;
  position: static;



  .ant-collapse-item {

    // margin-bottom: 10px;
    .ant-collapse-header {
      align-items: center;
    }
  }
}